/*
Copyright © 2015 TAKAHASHI,Toru
*/
/* 
    Created on : 2016/03/21, 13:50:55
    Author     : toru
*/

#dialBase {
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, #fafbf5, #fafbf5 80%, black 90%, #fafbf5 95%, black);
}

#dialMinutes {
    -fx-stroke: black;
}

#secondHand {
    -fx-stroke: mediumvioletred;
}

#minuteHand {
    -fx-stroke: black;
    -fx-fill: black;
}

#hourHand {
    -fx-stroke: black;
    -fx-fill: black;
}

.context-menu {
    -fx-background-color: lightgrey;
}

.menu-item {
    -fx-font-size: 16;
    -fx-padding: 8 12 8 12;
    -fx-border-style: solid;
    -fx-border-color: darkgrey;
    -fx-border-radius: 4;
}

.menu-item:hover {
    -fx-background-radius: 4;
}

.menu-item:focused {
    -fx-background-radius: 4;
}